html * {
  font-size: 16px;
  line-height: 1.625;
  color: black;
  font-family: "OpenSans", sans-serif;
}

.container {
  padding-bottom: 7rem;

}

#button-search {
  padding: 10px 20px;
  font-size: 20px;
  width: 10%;
}

/* .indexMainContainer img {
  height: 100%;
  position: relative;
  width: 100%;
  vertical-align: middle;
} */
.searchContainer form {
  outline: solid lightseagreen 2px;
  padding: 5px;

  border-radius: 5px;
}

.form-check-input .label.form-check-label {
  cursor: pointer;
}

.input-group.mb-3.input-filter {
  justify-content: center;
}

#searchInput {
  width: 100%;
  margin: 1rem;
}